:root {
  --pl-color-primary:  #15c1e8 !default;
  --pl-color-secondary: #242629 !default;
  --pl-color-tertiary: #15c1e8 !default;
  --pl-color-success: #35c153 !default;
  --pl-color-warning: #eb8c3b !default;
  --pl-color-danger: #eb3b5a !default;

  --pl-color-active: #4365707a !default;
  --pl-color-idle: #ffffff0d !default;
  --pl-color-away: #0000001c !default;

  --pl-color-light: #fafafb !default;
  --pl-color-medium: #656B73 !default;
  --pl-color-dark: #0E141d !default;
}