/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0-ExdGM.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0aExdGM.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0yExdGM.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KExQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInDownBig {
  animation-name: fadeInDownBig; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInLeft {
  animation-name: fadeInLeft; }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInLeftBig {
  animation-name: fadeInLeftBig; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInRight {
  animation-name: fadeInRight; }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInRightBig {
  animation-name: fadeInRightBig; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUpBig {
  animation-name: fadeInUpBig; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }

.fadeOutDown {
  animation-name: fadeOutDown; }

@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.fadeOutDownBig {
  animation-name: fadeOutDownBig; }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }

.fadeOutLeft {
  animation-name: fadeOutLeft; }

@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig; }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }

.fadeOutRight {
  animation-name: fadeOutRight; }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

.fadeOutRightBig {
  animation-name: fadeOutRightBig; }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  animation-name: fadeOutUp; }

@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

.fadeOutUpBig {
  animation-name: fadeOutUpBig; }

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1; } }

.rotateIn {
  animation-name: rotateIn; }

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }

.rotateInDownLeft {
  animation-name: rotateInDownLeft; }

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }

.rotateInDownRight {
  animation-name: rotateInDownRight; }

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }

.rotateInUpLeft {
  animation-name: rotateInUpLeft; }

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }

.rotateInUpRight {
  animation-name: rotateInUpRight; }

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1; }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }

.rotateOut {
  animation-name: rotateOut; }

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; } }

.rotateOutDownLeft {
  animation-name: rotateOutDownLeft; }

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }

.rotateOutDownRight {
  animation-name: rotateOutDownRight; }

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }

.rotateOutUpLeft {
  animation-name: rotateOutUpLeft; }

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }

.rotateOutUpRight {
  animation-name: rotateOutUpRight; }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInDown {
  animation-name: slideInDown; }

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInLeft {
  animation-name: slideInLeft; }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInRight {
  animation-name: slideInRight; }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  animation-name: slideInUp; }

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0); } }

.slideOutDown {
  animation-name: slideOutDown; }

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0); } }

.slideOutLeft {
  animation-name: slideOutLeft; }

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0); } }

.slideOutRight {
  animation-name: slideOutRight; }

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0); } }

.slideOutUp {
  animation-name: slideOutUp; }

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }

.tada {
  animation-name: tada; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  animation-name: zoomIn; }

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInDown {
  animation-name: zoomInDown; }

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInLeft {
  animation-name: zoomInLeft; }

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInRight {
  animation-name: zoomInRight; }

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInUp {
  animation-name: zoomInUp; }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.zoomOut {
  animation-name: zoomOut; }

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomOutDown {
  animation-name: zoomOutDown; }

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center; } }

.zoomOutLeft {
  animation-name: zoomOutLeft; }

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center; } }

.zoomOutRight {
  animation-name: zoomOutRight; }

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomOutUp {
  animation-name: zoomOutUp; }

.animation {
  animation-duration: 500ms;
  animation-fill-mode: both; }

.animation.infinite {
  animation-iteration-count: infinite; }

.animation.hinge {
  animation-duration: 2s; }

.animation.out-end {
  display: none !important; }

/** CSS RESET **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  font-family: var(--pl-font-family, "PT Sans", sans-serif);
  color: inherit;
  text-decoration: underline;
  font-size: var(--pl-font-size-md, 13px);
  line-height: calc(var(--pl-font-size-md, 13px) * 1.5); }
  @media screen and (max-width: 576px) {
    a {
      font-size: var(--pl-font-size-sm, 11px);
      line-height: calc(var(--pl-font-size-sm, 11px) * 1.5); } }
  a:not([href]) {
    text-decoration: underline; }
  a.active {
    color: var(--pl-color-primary); }
  a:hover {
    cursor: pointer;
    color: var(--pl-color-primary); }
  a.unstyled-link {
    text-decoration: none; }
    a.unstyled-link.active {
      text-decoration: none; }

b {
  font-family: var(--pl-font-family, "PT Sans", sans-serif);
  font-weight: bold; }

button, button.btn {
  font-size: var(--pl-font-size-lg, 15px);
  line-height: calc(var(--pl-font-size-lg, 15px) * 1.5); }

.form-field-size-xs {
  width: 100%;
  max-width: 150px; }

.form-field-size-sm {
  width: 100%;
  max-width: 200px; }

.form-field-size-md {
  width: 100%;
  max-width: 300px; }

.form-field-size-lg {
  width: 100%;
  max-width: 400px; }

input,
textarea,
select,
input.form-control,
textarea.form-control,
select.form-control {
  font-family: var(--pl-font-family, "PT Sans", sans-serif);
  font-size: var(--pl-font-size-md, 13px);
  line-height: calc(var(--pl-font-size-md, 13px) * 1.5);
  color: var(--pl-color-dark);
  border-width: 1px;
  border-style: solid;
  border-color: var(--pl-color-dark);
  padding: var(--pl-space-xs, 10px) var(--pl-space-xs, 15px);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  input.form-control::-webkit-input-placeholder,
  textarea.form-control::-webkit-input-placeholder,
  select.form-control::-webkit-input-placeholder {
    color: var(--pl-color-medium); }
  input::-moz-placeholder,
  textarea::-moz-placeholder,
  select::-moz-placeholder,
  input.form-control::-moz-placeholder,
  textarea.form-control::-moz-placeholder,
  select.form-control::-moz-placeholder {
    color: var(--pl-color-medium);
    opacity: 1; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  select:-ms-input-placeholder,
  input.form-control:-ms-input-placeholder,
  textarea.form-control:-ms-input-placeholder,
  select.form-control:-ms-input-placeholder {
    color: var(--pl-color-medium); }
  @media screen and (max-width: null) {
    input,
    textarea,
    select,
    input.form-control,
    textarea.form-control,
    select.form-control {
      font-size: var(--pl-font-size-sm, 11px);
      line-height: calc(var(--pl-font-size-sm, 11px) * 1.5); } }
  input:focus,
  textarea:focus,
  select:focus,
  input.form-control:focus,
  textarea.form-control:focus,
  select.form-control:focus {
    outline: none;
    border-color: var(--pl-color-primary); }

input::-ms-clear {
  display: none; }

h1 {
  width: 100%;
  font-family: var(--pl-font-family, "PT Sans", sans-serif);
  font-size: var(--pl-font-size-md, 13px)5;
  line-height: calc(var(--pl-font-size-md, 13px)5 * 1.5); }
  @media screen and (max-width: null) {
    h1 {
      font-size: var(--pl-font-size-md, 13px)-15;
      line-height: calc(var(--pl-font-size-md, 13px)-15 * 1.5); } }
  @media screen and (max-width: null) {
    h1 {
      font-size: var(--pl-font-size-md, 13px)-1-15;
      line-height: calc(var(--pl-font-size-md, 13px)-1-15 * 1.5); } }

h2 {
  width: 100%;
  font-family: var(--pl-font-family, "PT Sans", sans-serif);
  font-size: var(--pl-font-size-md, 13px)4;
  line-height: calc(var(--pl-font-size-md, 13px)4 * 1.5); }
  @media screen and (max-width: null) {
    h2 {
      font-size: var(--pl-font-size-md, 13px)-14;
      line-height: calc(var(--pl-font-size-md, 13px)-14 * 1.5); } }
  @media screen and (max-width: null) {
    h2 {
      font-size: var(--pl-font-size-md, 13px)-1-14;
      line-height: calc(var(--pl-font-size-md, 13px)-1-14 * 1.5); } }

h3 {
  width: 100%;
  font-family: var(--pl-font-family, "PT Sans", sans-serif);
  font-size: var(--pl-font-size-md, 13px)3;
  line-height: calc(var(--pl-font-size-md, 13px)3 * 1.5); }
  @media screen and (max-width: null) {
    h3 {
      font-size: var(--pl-font-size-md, 13px)-13;
      line-height: calc(var(--pl-font-size-md, 13px)-13 * 1.5); } }
  @media screen and (max-width: null) {
    h3 {
      font-size: var(--pl-font-size-md, 13px)-1-13;
      line-height: calc(var(--pl-font-size-md, 13px)-1-13 * 1.5); } }

h4 {
  width: 100%;
  font-family: var(--pl-font-family, "PT Sans", sans-serif);
  font-size: var(--pl-font-size-md, 13px)2;
  line-height: calc(var(--pl-font-size-md, 13px)2 * 1.5); }
  @media screen and (max-width: null) {
    h4 {
      font-size: var(--pl-font-size-md, 13px)-12;
      line-height: calc(var(--pl-font-size-md, 13px)-12 * 1.5); } }
  @media screen and (max-width: null) {
    h4 {
      font-size: var(--pl-font-size-md, 13px)-1-12;
      line-height: calc(var(--pl-font-size-md, 13px)-1-12 * 1.5); } }

h5 {
  width: 100%;
  font-family: var(--pl-font-family, "PT Sans", sans-serif);
  font-size: var(--pl-font-size-md, 13px)1;
  line-height: calc(var(--pl-font-size-md, 13px)1 * 1.5); }
  @media screen and (max-width: null) {
    h5 {
      font-size: var(--pl-font-size-md, 13px)-11;
      line-height: calc(var(--pl-font-size-md, 13px)-11 * 1.5); } }
  @media screen and (max-width: null) {
    h5 {
      font-size: var(--pl-font-size-md, 13px)-1-11;
      line-height: calc(var(--pl-font-size-md, 13px)-1-11 * 1.5); } }

h6 {
  width: 100%;
  font-family: var(--pl-font-family, "PT Sans", sans-serif);
  font-size: var(--pl-font-size-md, 13px)0;
  line-height: calc(var(--pl-font-size-md, 13px)0 * 1.5); }
  @media screen and (max-width: null) {
    h6 {
      font-size: var(--pl-font-size-md, 13px)-10;
      line-height: calc(var(--pl-font-size-md, 13px)-10 * 1.5); } }
  @media screen and (max-width: null) {
    h6 {
      font-size: var(--pl-font-size-md, 13px)-1-10;
      line-height: calc(var(--pl-font-size-md, 13px)-1-10 * 1.5); } }

p {
  margin-bottom: var(--pl-space-xs, 15px); }

small {
  font-family: inherit;
  font-size: 12;
  line-height: calc(12 * 1.5); }
  @media screen and (max-width: 576px) {
    small {
      font-size: 12;
      line-height: calc(12 * 1.5); } }
  @media screen and (max-width: 0) {
    small {
      font-size: 10;
      line-height: calc(10 * 1.5); } }

strong {
  font-family: var(--pl-font-family, "PT Sans", sans-serif);
  font-weight: bold; }

li {
  margin-top: 3px;
  margin-bottom: 3px; }
  li li:first-child {
    margin-top: 0; }

ol, ul {
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px; }
  ol ol, ol ul, ul ol, ul ul {
    margin-top: 5px;
    margin-bottom: 5px; }

ol {
  list-style: decimal; }
  ol ol {
    list-style: lower-alpha; }
    ol ol ol {
      list-style: lower-roman; }

ul {
  list-style: disc; }
  ul ul {
    list-style: circle; }
    ul ul ul {
      list-style: square; }

section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  section > *:not(:first-child) {
    margin-top: var(--pl-space-xs, 15px); }
  section > *[hidden-xs] + * {
    margin-top: 0; }
  section > *[hidden-sm] + * {
    margin-top: 0; }
  section > *[hidden-md] + * {
    margin-top: 0; }
  section > *[hidden-lg] + * {
    margin-top: 0; }
  section > *[hidden-xl] + * {
    margin-top: 0; }
  section > *[style*="display: none;"] + *, section > *[class*="hide-element"] + * {
    margin-top: 0; }

.basic-form > *:not(:first-child), form > *:not(:first-child) {
  margin-top: var(--pl-space-xs, 15px); }

.basic-form > *[hidden-xs] + *, form > *[hidden-xs] + * {
  margin-top: 0; }

.basic-form > *[hidden-sm] + *, form > *[hidden-sm] + * {
  margin-top: 0; }

.basic-form > *[hidden-md] + *, form > *[hidden-md] + * {
  margin-top: 0; }

.basic-form > *[hidden-lg] + *, form > *[hidden-lg] + * {
  margin-top: 0; }

.basic-form > *[hidden-xl] + *, form > *[hidden-xl] + * {
  margin-top: 0; }

.basic-form > *[style*="display: none;"] + *, .basic-form > *[class*="hide-element"] + *, form > *[style*="display: none;"] + *, form > *[class*="hide-element"] + * {
  margin-top: 0; }

/**
  @title: Font Utilities
  @description: Creates font utilities attributes
**/
[font-bold] {
  font-family: var(--pl-font-family, "PT Sans", sans-serif) !important;
  font-weight: bold; }

[font-normal] {
  font-family: var(--pl-font-family, "PT Sans", sans-serif) !important; }

/**
  @title: Flex Utilities
  @description: Creates flex attributes to modify flex containers
**/
[flex-auto] {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

[flex-none] {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0; }

/**
  @title: Float Utilities
  @description: Creates float attributes based on positioning
**/
[float-left] {
  float: left !important; }

[float-right] {
  float: right !important; }

/**
  @title: Spacing Utilities
  @description: Creates a padding and margin based on the space-map
**/
[no-padding] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

[no-margin] {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

[padding-xs] {
  padding: var(--pl-space-xs, 5px) !important; }

[margin-xs] {
  margin: var(--pl-space-xs, 5px) !important; }

[padding-left-xs] {
  padding-left: var(--pl-space-xs, 5px) !important; }

[margin-left-xs] {
  margin-left: var(--pl-space-xs, 5px) !important; }

[padding-right-xs] {
  padding-right: var(--pl-space-xs, 5px) !important; }

[margin-right-xs] {
  margin-right: var(--pl-space-xs, 5px) !important; }

[padding-top-xs] {
  padding-top: var(--pl-space-xs, 5px) !important; }

[margin-top-xs] {
  margin-top: var(--pl-space-xs, 5px) !important; }

[padding-bottom-xs] {
  padding-bottom: var(--pl-space-xs, 5px) !important; }

[margin-bottom-xs] {
  margin-bottom: var(--pl-space-xs, 5px) !important; }

[padding-sm] {
  padding: var(--pl-space-xs, 10px) !important; }

[margin-sm] {
  margin: var(--pl-space-xs, 10px) !important; }

[padding-left-sm] {
  padding-left: var(--pl-space-xs, 10px) !important; }

[margin-left-sm] {
  margin-left: var(--pl-space-xs, 10px) !important; }

[padding-right-sm] {
  padding-right: var(--pl-space-xs, 10px) !important; }

[margin-right-sm] {
  margin-right: var(--pl-space-xs, 10px) !important; }

[padding-top-sm] {
  padding-top: var(--pl-space-xs, 10px) !important; }

[margin-top-sm] {
  margin-top: var(--pl-space-xs, 10px) !important; }

[padding-bottom-sm] {
  padding-bottom: var(--pl-space-xs, 10px) !important; }

[margin-bottom-sm] {
  margin-bottom: var(--pl-space-xs, 10px) !important; }

[padding-md] {
  padding: var(--pl-space-xs, 15px) !important; }

[margin-md] {
  margin: var(--pl-space-xs, 15px) !important; }

[padding-left-md] {
  padding-left: var(--pl-space-xs, 15px) !important; }

[margin-left-md] {
  margin-left: var(--pl-space-xs, 15px) !important; }

[padding-right-md] {
  padding-right: var(--pl-space-xs, 15px) !important; }

[margin-right-md] {
  margin-right: var(--pl-space-xs, 15px) !important; }

[padding-top-md] {
  padding-top: var(--pl-space-xs, 15px) !important; }

[margin-top-md] {
  margin-top: var(--pl-space-xs, 15px) !important; }

[padding-bottom-md] {
  padding-bottom: var(--pl-space-xs, 15px) !important; }

[margin-bottom-md] {
  margin-bottom: var(--pl-space-xs, 15px) !important; }

[padding-lg] {
  padding: var(--pl-space-xs, 20px) !important; }

[margin-lg] {
  margin: var(--pl-space-xs, 20px) !important; }

[padding-left-lg] {
  padding-left: var(--pl-space-xs, 20px) !important; }

[margin-left-lg] {
  margin-left: var(--pl-space-xs, 20px) !important; }

[padding-right-lg] {
  padding-right: var(--pl-space-xs, 20px) !important; }

[margin-right-lg] {
  margin-right: var(--pl-space-xs, 20px) !important; }

[padding-top-lg] {
  padding-top: var(--pl-space-xs, 20px) !important; }

[margin-top-lg] {
  margin-top: var(--pl-space-xs, 20px) !important; }

[padding-bottom-lg] {
  padding-bottom: var(--pl-space-xs, 20px) !important; }

[margin-bottom-lg] {
  margin-bottom: var(--pl-space-xs, 20px) !important; }

[padding-xl] {
  padding: var(--pl-space-xs, 30px) !important; }

[margin-xl] {
  margin: var(--pl-space-xs, 30px) !important; }

[padding-left-xl] {
  padding-left: var(--pl-space-xs, 30px) !important; }

[margin-left-xl] {
  margin-left: var(--pl-space-xs, 30px) !important; }

[padding-right-xl] {
  padding-right: var(--pl-space-xs, 30px) !important; }

[margin-right-xl] {
  margin-right: var(--pl-space-xs, 30px) !important; }

[padding-top-xl] {
  padding-top: var(--pl-space-xs, 30px) !important; }

[margin-top-xl] {
  margin-top: var(--pl-space-xs, 30px) !important; }

[padding-bottom-xl] {
  padding-bottom: var(--pl-space-xs, 30px) !important; }

[margin-bottom-xl] {
  margin-bottom: var(--pl-space-xs, 30px) !important; }

/**
  @title: Text Alignment Utilities
  @description: Creates text alignment attributes based on positioning
**/
[text-center] {
  text-align: center !important; }

[text-left] {
  text-align: left !important; }

[text-right] {
  text-align: right !important; }

[text-top] {
  vertical-align: top !important; }

[text-bottom] {
  vertical-align: bottom !important; }

[text-justify] {
  text-align: justify !important; }

[text-nowrap] {
  white-space: nowrap !important; }

[text-wrap] {
  white-space: normal !important; }

[text-pre-wrap] {
  white-space: pre-wrap !important; }

[text-uppercase] {
  text-transform: uppercase !important; }

[text-lowercase] {
  text-transform: lowercase !important; }

[text-capitalize] {
  text-transform: capitalize !important; }

/**
  @title: Visibility Utilities
  @description: Creates visibility attributes based on screen breakpoints
**/
@media screen and (max-width: 0) {
  [hidden-xs] {
    display: none !important; } }

[visible-xs] {
  display: none !important; }
  @media screen and (max-width: 0) {
    [visible-xs] {
      display: block !important; } }

@media screen and (max-width: 576px) {
  [hidden-sm] {
    display: none !important; } }

[visible-sm] {
  display: none !important; }
  @media screen and (max-width: 576px) {
    [visible-sm] {
      display: block !important; } }

@media screen and (max-width: 768px) {
  [hidden-md] {
    display: none !important; } }

[visible-md] {
  display: none !important; }
  @media screen and (max-width: 768px) {
    [visible-md] {
      display: block !important; } }

@media screen and (max-width: 992px) {
  [hidden-lg] {
    display: none !important; } }

[visible-lg] {
  display: none !important; }
  @media screen and (max-width: 992px) {
    [visible-lg] {
      display: block !important; } }

@media screen and (max-width: 1200px) {
  [hidden-xl] {
    display: none !important; } }

[visible-xl] {
  display: none !important; }
  @media screen and (max-width: 1200px) {
    [visible-xl] {
      display: block !important; } }

/**
  @title: Overflow Utilities
  @description: Creates overflow attributes
**/
[overflow-auto] {
  overflow: auto !important; }

[overflow-hidden] {
  overflow: hidden !important; }

[overflow-visible] {
  overflow: visible !important; }

[overflow-scroll] {
  overflow: scroll !important; }

/**
  @title: Color settings
  @description: Creates color attributes for common of the color settings
**/
[color-primary] {
  background-color: var(--pl-color-primary) !important;
  color: #fff !important; }

[text-color-primary] {
  color: var(--pl-color-primary) !important; }

[color-secondary] {
  background-color: var(--pl-color-secondary) !important;
  color: #fff !important; }

[text-color-secondary] {
  color: var(--pl-color-secondary) !important; }

[color-tertiary] {
  background-color: var(--pl-color-tertiary) !important;
  color: #fff !important; }

[text-color-tertiary] {
  color: var(--pl-color-tertiary) !important; }

[color-success] {
  background-color: var(--pl-color-success) !important;
  color: #fff !important; }

[text-color-success] {
  color: var(--pl-color-success) !important; }

[color-warning] {
  background-color: var(--pl-color-warning) !important;
  color: #fff !important; }

[text-color-warning] {
  color: var(--pl-color-warning) !important; }

[color-danger] {
  background-color: var(--pl-color-danger) !important;
  color: #fff !important; }

[text-color-danger] {
  color: var(--pl-color-danger) !important; }

[color-active] {
  background-color: var(--pl-color-active) !important;
  color: #000 !important; }

[text-color-active] {
  color: var(--pl-color-active) !important; }

[color-idle] {
  background-color: var(--pl-color-idle) !important;
  color: #000 !important; }

[text-color-idle] {
  color: var(--pl-color-idle) !important; }

[color-away] {
  background-color: var(--pl-color-away) !important;
  color: #000 !important; }

[text-color-away] {
  color: var(--pl-color-away) !important; }

[color-light] {
  background-color: var(--pl-color-light) !important;
  color: #000 !important; }

[text-color-light] {
  color: var(--pl-color-light) !important; }

[color-medium] {
  background-color: var(--pl-color-medium) !important;
  color: #fff !important; }

[text-color-medium] {
  color: var(--pl-color-medium) !important; }

[color-dark] {
  background-color: var(--pl-color-dark) !important;
  color: #fff !important; }

[text-color-dark] {
  color: var(--pl-color-dark) !important; }

[no-border] {
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important; }

[full-width] {
  width: 100% !important; }

[auto-width] {
  width: auto !important; }

/**
  @title: Display Utilities
  @description: Creates display attributes to modify element display
**/
[display-block] {
  display: block !important; }

[display-inline-block] {
  display: inline-block !important; }

[display-flex] {
  display: flex !important; }

[display-inline-flex] {
  display: inline-flex !important; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html body {
  color: #fff;
  background-color: var(--pl-color-primary);
  font-family: var(--pl-color-primary);
  font-size: var(--pl-font-size-md, 13px);
  line-height: calc(var(--pl-font-size-md, 13px) * 1.5);
  -webkit-transition: color 0.3s cubic-bezier(0.3, 1, 0.3, 1), background-color 0.3s cubic-bezier(0.3, 1, 0.3, 1), border-color 0.3s cubic-bezier(0.3, 1, 0.3, 1), box-shadow 0.3s cubic-bezier(0.3, 1, 0.3, 1);
  -moz-transition: color 0.3s cubic-bezier(0.3, 1, 0.3, 1), background-color 0.3s cubic-bezier(0.3, 1, 0.3, 1), border-color 0.3s cubic-bezier(0.3, 1, 0.3, 1), box-shadow 0.3s cubic-bezier(0.3, 1, 0.3, 1);
  -ms-transition: color 0.3s cubic-bezier(0.3, 1, 0.3, 1), background-color 0.3s cubic-bezier(0.3, 1, 0.3, 1), border-color 0.3s cubic-bezier(0.3, 1, 0.3, 1), box-shadow 0.3s cubic-bezier(0.3, 1, 0.3, 1);
  -o-transition: color 0.3s cubic-bezier(0.3, 1, 0.3, 1), background-color 0.3s cubic-bezier(0.3, 1, 0.3, 1), border-color 0.3s cubic-bezier(0.3, 1, 0.3, 1), box-shadow 0.3s cubic-bezier(0.3, 1, 0.3, 1);
  transition: color 0.3s cubic-bezier(0.3, 1, 0.3, 1), background-color 0.3s cubic-bezier(0.3, 1, 0.3, 1), border-color 0.3s cubic-bezier(0.3, 1, 0.3, 1), box-shadow 0.3s cubic-bezier(0.3, 1, 0.3, 1); }
  @media screen and (max-width: 576px) {
    html body {
      font-size: var(--pl-font-size-sm, 11px);
      line-height: calc(var(--pl-font-size-sm, 11px) * 1.5); } }
