// Fonts
// -------------------------------------
$font-family-base: var(--pl-font-family, 'PT Sans', sans-serif);
$font-path: var(--pl-font-path, "/dist/fonts");

$font-size-xs: var(--pl-font-size-xs, 10px);
$font-size-sm: var(--pl-font-size-sm, 11px);
$font-size-md: var(--pl-font-size-md, 13px);
$font-size-lg: var(--pl-font-size-lg, 15px);

// Spaces
// -------------------------------------
$space-xs: var(--pl-space-xs, 5px);
$space-sm: var(--pl-space-xs, 10px);
$space-md: var(--pl-space-xs, 15px);;
$space-lg: var(--pl-space-xs, 20px);;
$space-xl: var(--pl-space-xs, 30px);;

$space-breakpoints: (
  xs: $space-xs,
  sm: $space-sm,
  md: $space-md,
  lg: $space-lg,
  xl: $space-xl
) !default;

// Directions
// -------------------------------------
$direction-breakpoints: (
  left,
  right,
  top,
  bottom
) !default;

// Border Radius
// -------------------------------------
$border-radius-sm: 2px;
$border-radius-md: 4px;

// Breakpoints
// -------------------------------------
$screen-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Default Peerlancers Colors
// -------------------------------------
// Color map should provide
// - base: main color to be used.
// - contrast: Color that will provide readable text against the base color
// - shade: 12% darker version of the base color (mix with black)
// - tint: 10% lighter version of the base color (mix with white)
$color-primary: var(--pl-color-primary);
$color-secondary: var(--pl-color-secondary);
$color-tertiary: var(--pl-color-tertiary);
$color-success: var(--pl-color-success);
$color-warning: var(--pl-color-warning);
$color-danger: var(--pl-color-danger);
$color-active: var(--pl-color-active);
$color-idle: var(--pl-color-idle);
$color-away: var(--pl-color-away);
$color-light: var(--pl-color-light);
$color-medium: var(--pl-color-medium);
$color-dark: var(--pl-color-dark);

$colors: (
  primary: (
    base: $color-primary,
    contrast: #fff,
    shade: get-color-shade($color-primary),
    tint: get-color-tint($color-primary)
  ),
  secondary: (
    base: $color-secondary,
    contrast: #fff,
    shade: get-color-shade($color-secondary),
    tint: get-color-tint($color-secondary)
  ),
  tertiary: (
    base: $color-tertiary,
    contrast: #fff,
    shade: get-color-shade($color-tertiary),
    tint: get-color-tint($color-tertiary)
  ),
  success: (
    base: $color-success,
    contrast: #fff,
    shade: get-color-shade($color-success),
    tint: get-color-tint($color-success)
  ),
  warning: (
    base: $color-warning,
    contrast: #fff,
    shade: get-color-shade($color-warning),
    tint: get-color-tint($color-warning)
  ),
  danger: (
    base: $color-danger,
    contrast: #fff,
    shade: get-color-shade($color-danger),
    tint: get-color-tint($color-danger)
  ),
  active: (
    base: $color-active,
    contrast: #000,
    shade: get-color-shade($color-active),
    tint: get-color-tint($color-active)
  ),
  idle: (
    base: $color-idle,
    contrast: #000,
    shade: get-color-shade($color-idle),
    tint: get-color-tint($color-idle)
  ),
  away: (
    base: $color-away,
    contrast: #000,
    shade: get-color-shade($color-away),
    tint: get-color-tint($color-away)
  ),
  light: (
    base: $color-light,
    contrast: #000,
    shade: get-color-shade($color-light),
    tint: get-color-tint($color-light)
  ),
  medium: (
    base: $color-medium,
    contrast: #fff,
    shade: get-color-shade($color-medium),
    tint: get-color-tint($color-medium)
  ),
  dark: (
    base: $color-dark,
    contrast: #fff,
    shade: get-color-shade($color-dark),
    tint: get-color-tint($color-dark)
  )
) !default;

// Z-Index
// -------------------------------------
$z-index-header: 100;
$z-index-navigation: 100;
$z-index-content: 100;
$z-index-footer: 100;
