/**
  @title: Text Alignment Utilities
  @description: Creates text alignment attributes based on positioning
**/

[text-center] {
  text-align: center !important;
}

[text-left] {
  text-align: left !important;
}

[text-right] {
  text-align: right !important;
}

[text-top] {
  vertical-align: top !important;
}

[text-bottom] {
  vertical-align: bottom !important;
}

[text-justify] {
  text-align: justify !important;
}

// Wrapping
[text-nowrap] {
  white-space: nowrap !important;
}

[text-wrap] {
  white-space: normal !important;
}

[text-pre-wrap] {
  white-space: pre-wrap !important;
}

// Transformation
[text-uppercase] {
  text-transform: uppercase !important;
}

[text-lowercase] {
  text-transform: lowercase !important;
}

[text-capitalize] {
  text-transform: capitalize !important;
}