/**
  @title: Font Utilities
  @description: Creates font utilities attributes
**/

[font-bold] {
  font-family: $font-family-base !important;
  font-weight: bold;
}

[font-normal] {
  font-family: $font-family-base !important;
}