@import "./fonts";
@import "../shared/index";

@import "animations/pl-animations";

@import "elements/pl-reset";
@import "elements/pl-anchor";
@import "elements/pl-bold";
@import "elements/pl-button";
@import "elements/pl-form-field";
@import "elements/pl-heading";
@import "elements/pl-paragraph";
@import "elements/pl-small";
@import "elements/pl-strong";
@import "elements/pl-list";
@import "elements/pl-section";
@import "elements/pl-form";

@import "attributes/pl-font";
@import "attributes/pl-flex";
@import "attributes/pl-float-elements";
@import "attributes/pl-spacing";
@import "attributes/pl-text";
@import "attributes/pl-visibility";
@import "attributes/pl-overflow";
@import "attributes/pl-color";
@import "attributes/pl-layout";
@import "attributes/pl-display";

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

html {
  body {
    color: get-color(primary, contrast);
    background-color: get-color(primary, base);

    font-family: get-color(primary, base);
    @include font-size($font-size-md);
    @include breakpoint(sm) {
      @include font-size($font-size-sm);
    }

    @include transition(
      color .3s cubic-bezier(.3,1,.3,1),
      background-color .3s cubic-bezier(.3,1,.3,1),
      border-color .3s cubic-bezier(.3,1,.3,1),
      box-shadow .3s cubic-bezier(.3,1,.3,1)
    );
  }
}
