$link-font: $font-family-base;
$link-hover-color: get-color(primary, base);

a {
  font-family: $link-font;
  color: inherit;
  text-decoration: underline;

  @include font-size($font-size-md);
  @include breakpoint(sm) {
    @include font-size($font-size-sm);
  }

  &:not([href]) {
    text-decoration: underline;
  }

  &.active {
    color: $link-hover-color;
  }

  &:hover {
    cursor: pointer;
    color: $link-hover-color;
  }

  &.unstyled-link {
    text-decoration: none;
    &.active {
      text-decoration: none;
    }
  }
}