// Headers
$heading-scale-size: 1;
$heading-font: $font-family-base;
$heading-font-large-size: $font-size-md;
$heading-font-md-size: $font-size-md - 1;
$heading-font-sm-size: $heading-font-md-size - 1;

@for $index from 1 through 6 {
  h#{$index} {
    width: 100%;
    font-family: $heading-font;
    @include font-size($heading-font-large-size + ($heading-scale-size * (6 - $index)));
    @include breakpoint(medium) {
      @include font-size($heading-font-md-size + ($heading-scale-size * (6 - $index)));
    }
    @include breakpoint(small) {
      @include font-size($heading-font-sm-size + ($heading-scale-size * (6 - $index)));
    }
  }
}