// Form field size
$form-field-size-xs: 150px;
$form-field-size-sm: 200px;
$form-field-size-md: 300px;
$form-field-size-lg: 400px;

$form-field-size-map: (
  xs: $form-field-size-xs,
  sm: $form-field-size-sm,
  md: $form-field-size-md,
  lg: $form-field-size-lg,
) !default;

@each $field-size-key in map-keys($form-field-size-map) {
  $form-field-size-value: map-get($form-field-size-map, $field-size-key);

  // Creates the hidden attributes
  .form-field-size-#{$field-size-key} {
    width: 100%;
    max-width: $form-field-size-value;
  }
}

// Input
$input-font: $font-family-base;
$input-font-size: $font-size-md;
$input-border-width: 1px;
$input-border-style: solid;
$input-border-color: get-color(dark, base);
$input-border-color-focused: get-color(primary, base);
$input-text-color: get-color(dark, base);
$input-placeholder-text-color: get-color(medium, base);
$input-border-radius: $border-radius-sm;
$input-padding: $space-sm $space-md;

input,
textarea,
select,
input.form-control,
textarea.form-control,
select.form-control {
  font-family: $input-font;
  @include font-size($input-font-size);
  color: $input-text-color;
  border-width: $input-border-width;
  border-style: $input-border-style;
  border-color: $input-border-color;
  padding: $input-padding;
  @include border-radius($input-border-radius);
  @include set-placeholder-color($input-placeholder-text-color);

  @include breakpoint(small) {
    @include font-size($font-size-sm);
  }

  &:focus {
    outline: none;
    border-color: $input-border-color-focused;
  }
}

input::-ms-clear{
  display: none;
}
