// Captions
$caption-default-font: inherit;
$caption-default-font-size: 12;
$caption-sm-font-size: 12;
$caption-xs-font-size: 10;

small {
  font-family: $caption-default-font;

  @include font-size($caption-default-font-size);
  @include breakpoint(sm) {
    @include font-size($caption-sm-font-size);
  }
  @include breakpoint(xs) {
    @include font-size($caption-xs-font-size);
  }
}