@import "pl-fade";
@import "pl-rotate";
@import "pl-slide";
@import "pl-tada";
@import "pl-zoom";

$animation-default-duration: 500ms;
$animation-hinge-duration: 2s;

.animation {
  animation-duration: $animation-default-duration;
  animation-fill-mode: both;
}

.animation.infinite {
  animation-iteration-count: infinite;
}

.animation.hinge {
  animation-duration: $animation-hinge-duration;
}

.animation.out-end {
  display: none !important;
}